.root {
}

.variableName {
	width: 15em;
	display: inline-block;
}

.defaultValue {
	width: 15em;
	display: inline-block;
}

.icon {
	cursor: pointer;
	left: -15px;
	top: 3px;
}

.op {
	cursor: pointer;
}

.getter {
	user-select: none;
}

.setter {
	user-select: none;
}
