/*在此处统一设置属性部件的样式，在开发属性部件时，不要再设置以下属性*/
.root {
	font-size: 12px;
}

.root input {
	font-size: 12px;
	height: calc(1.5em + 0.5rem + 2px);
	padding: 0.25rem 0.5rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.root input:focus {
	outline: none;
	box-shadow: 0 0 0 0 rgba(0, 123, 255, 0.25);
}

.propertyItem {
	margin-top: 2px;
	padding-bottom: 2px;
	padding-right: 1px;
	padding-left: 1px;
}

.propertyItem:last-child {
	border-bottom: none;
}
