.nameBar {
	display: inline-block;
	color: white;
	background-color: #0080ff;
	border-radius: 3px 3px 0px 0px;
	pointer-events: auto;
	z-index: 10000;
}

.nameBarPosition {
	position: relative;
	left: 0px;
	top: -25px;
}
